@page
@model ShareDatasetModel
@{
    ViewData["Title"] = "Share Dataset";
}

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="mb-4 text-dark">@ViewData["Title"]</h3>
        <form method="post">
            <div class="form-group">
                <label asp-for="DatasetId"></label>
                <select asp-for="DatasetId" asp-items="@(new SelectList(Model.Datasets, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="DatasetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-info" type="submit" value="Share" />
            </div>
        </form>
    </div>
</div>
